.hide-scrollbar {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
	/* Chrome / Safari */
}

.smooth-scroll {
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.smooth-scroll::-webkit-scrollbar {
	display: none;
}